# Django / Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage

# Env & secrets
.env

# Uploaded files
media/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Node (Tailwind later)
node_modules/
